.cards {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1140px;
}

.cards__search-error {
  display: flex;
  justify-content: center;
  min-height: 25px;
  color: #ff004c;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  transition: opacity 0.2s;
}

.cards__search-error_active {
  opacity: 1;
}

.cards__section {
  max-width: 1280px;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 364px));
  gap: 30px 24px;
}

.cards__button {
  width: 100%;
  min-height: 36px;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-bottom: 83px;
  margin-top: 64px;
  transition: 0.4s;
  opacity: 1;
  padding: 0;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards__button:hover {
  opacity: 0.6;
}

@media (max-width: 1142px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 364px));
    gap: 32px 30px;
  }
}

@media (max-width: 900px) {
  .cards {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 339px));
    gap: 30px 36px;
  }

  .cards__button {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 710px) {
  .cards {
    margin: 72px auto 0 auto;
  }
}

@media (max-width: 580px) {
  .cards__list {
    grid-template-columns: repeat(1, minmax(0, 300px));
    gap: 16px;
  }
}

@media (max-width: 500px) {
  .cards__button {
    margin-bottom: 80px;
    margin-top: 60px;
  }
}