.cards {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 118px;
  gap: 30px 24px;
  max-width: 1140px;
}

.cards__section {
  margin: 0 auto;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__button {
  min-width: 1140px;
  min-height: 36px;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
  transition: 0.4s;
  opacity: 1;
  padding: 0;
}

.cards__button:hover {
  opacity: 0.6;
}

@media (max-width: 1142px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards__button {
    min-width: 89vw;
  }
}

@media (max-width: 900px) {
  .cards {
    margin: 0 auto 0 auto;
    gap: 36px 30px;
  }

  .cards__button {
    min-width: 708px;
  }
}

@media (max-width: 710px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 40px auto 0 auto;
    gap: 11px;
  }
  .cards__button {
    min-width: 339px;
  }
}

@media (max-width: 500px) {
  .cards__button {
    min-width: 300px;
    margin-bottom: 81px;
    margin-top: 71px;
  }
}
