.profile {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__title {
  padding-top: 69px;
  padding-bottom: 124px;
  margin: 0 auto;
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__fieldset {
  max-width: 410px;
  border: none;
  margin: 0;
  padding: 0;
}

.profile__label {
  border: none;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
  min-width: 410px;
  color: #000;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__label:last-of-type {
  padding-bottom: 0;
  margin-top: 17px;
  border: none;
}

.profile__placeholder {
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px #007BFF;
}

.profile__input {
  text-align: end;
  border: none;
  background: #fff;
  /* min-width: 391px; */
  display: flex;
  flex-direction: column;
  padding: 0;
  outline: none;
  font-size: 11px;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus-visible {
  outline: 2px solid #007BFF;
}

.profile__input_name {
  margin-bottom: 17px;
}

.profile__input_email {
  margin-bottom: 220px;
}

.profile__type_error {
  display: flex;
  justify-content: center;
}

.profile__buttons {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile__button_disabled {
  background: #fff;
  border: none;
  cursor: not-allowed;
  opacity: 0.2;
  margin-bottom: 16px;
}

.profile__button_type_edit {
  opacity: 1;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: #fff;
  padding: 0;
  margin-bottom: 16px;
  transition: opacity 0.3s;
}

.profile__button_type_edit:hover {
  opacity: 0.7;
}

.profile__button_type_exit {
  color: #ff004d;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: #fff;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.3s;
}

.profile__button_type_exit:hover {
  opacity: 0.7;
}

.profile__error {
  color: #ff004c;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 900px) {
  .profile__title {
    font-size: 24px;
    padding-top: 222px;
    padding-bottom: 96px;
  }

  .profile__input_email {
    margin-bottom: 210px;
  }
}

@media (max-width: 500px) {
  .profile__input {
    min-width: auto;
  }

  .profile__label {
    min-width: 260px;
  }

  .profile__title {
    padding-top: 66px;
    padding-bottom: 80px;
  }

  .profile__input_email {
    margin-bottom: 379px;
  }
}