.not-found {
  width: 100%;
  color: #ffffff;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.not-found__title {
  color: #000;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 246px;
}

.not-found__description {
  color: #000;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.not-found__link {
  color: #ff6838;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 184px;
  padding-bottom: 60px;
  border: none;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.4s;
  opacity: 1;
}

.not-found__link:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .not-found__title {
    margin-top: 408px;
  }
}

@media (max-width: 440px) {
  .not-found__title {
    font-size: 80px;
    margin-top: 329px;
  }

  .not-found__description {
    font-size: 12px;
    margin-bottom: 284px;
  }

  .not-found__link {
    padding: 0;
  }
}
