.portfolio {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 70px;
}

.portfolio__title {
  color: #a0a0a0;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 50px;
}

.portfolio__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__links {
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: 0.4s;
  opacity: 1;
}

.portfolio__links:last-of-type {
  margin-bottom: 125px;
  padding: 0;
}

.portfolio__links:hover {
  opacity: 0.6;
}

.portfolio__links:last-child {
  border: none;
}

.portfolio__link {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  display: flex;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__link::after {
  content: "↗";
  margin-left: auto;
}

@media (max-width: 900px) {
  .portfolio__container {
    padding: 0 50px;
  }

  .portfolio__links {
    margin-bottom: 15px;
		padding-bottom: 14px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 60px; 
  }

	.portfolio__title {
		margin-bottom: 44px;
	}

  .portfolio__links:last-of-type {
    margin-bottom: 83px;
  }
}

@media (max-width: 500px) {
  .portfolio__container {
    padding: 0 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__links {
    padding-bottom: 24px;
  }

	.portfolio__links:last-of-type {
		margin-bottom: 70px;
	}

  .portfolio__link {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
