.popup {
  display: flex;
  flex-direction: column;
  min-width: 396px;
  min-height: 100%;
  margin-left: 442px;
  margin-right: 442px;
}

.popup__image {
  width: 38px;
  min-height: 38px;
  transition: 0.4s;
  opacity: 1;
}

.popup__image:hover {
  opacity: 0.6;
}

.popup__link-logo {
  margin-top: 70px;
  width: 38px;
  min-height: 38px;
}

.popup__label_type_name {
  margin-top: 40px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.popup__title {
  max-width: 396px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 20px;
  line-height: normal;
}

.popup__label {
  color: #a0a0a0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

.popup__input:focus {
  border-color: #007BFF; 
  box-shadow: 0 0 5px #007BFF; 
}

.popup__input {
  border-radius: 8px;
  background: #f9f9f9;
  border: none;
  min-height: 46px;
  padding-left: 15px;
  outline: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
}

.popup__input_error {
	border-bottom: 1px solid #FF004C;
	margin-bottom: 0;
}

.popup__input:focus-visible {
  outline: 2px solid #007BFF; 
}

.popup__button {
  min-width: 396px;
  min-height: 45px;
  border-radius: 3px;
  background: #ff6838;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 16px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button_disabled {
	background-color: #393939;
	color: #818181;
	cursor: default;
}

.popup__span {
  color: #a0a0a0;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease;
  cursor: default;
}

.popup__span:hover {
  opacity: 0.8;
}

.popup__items {
  top: 532px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.popup__link {
  color: #ff6838;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 6px;
  transition: opacity 0.3s ease;
}

.popup__link:hover {
  opacity: 0.8;
}

.popup__error {
  color: #ee3465;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.popup__server-error {
	margin-top: auto;
	color: #EE3465;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}

@media (max-width: 900px) {
  .popup__link-logo {
    margin-top: 232px;
  }

  .popup__items {
    top: 645px;
  }

  .popup__button {
    margin-top: 69px;
  }

  .popup__error {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .popup {
    min-width: 260px;
  }

  .popup__link-logo {
    margin: 0 auto;
    margin-top: 56px;
  }

  .popup__title {
    margin-top: 45px;
    margin-bottom: 80px;
    text-align: center;
  }

  .popup__label:first-child {
    margin-top: 0;
  }

  .popup__error {
    margin: 0;
    margin-top: 11px;
  }

  .popup__items {
    top: 519px;
  }

  .popup__button {
    margin-top: 157px;
    margin-bottom: 14px;
    min-width: 260px;
    font-size: 12px;
  }

  .popup__span {
    font-size: 12px;
    margin-bottom: 0;
  }

  .popup__items {
    min-height: 261px;
  }
}
