.App {
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
	background-color: #FFFFFF;
	-webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@media (max-width: 769px) {
	.app {
		display: flex;
	}
}

