.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

.navigation__pannel {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.navigation__links {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link_movies {
  color: #000;
  text-align: right;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.navigation__link_saved-movies {
  color: #000;
  text-align: right;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link-account {
  display: flex;
  transition: 0.5s;
  opacity: 1;
}

.navigation__link-account:hover {
  opacity: 0.6;
}

.navigation__account-button {
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  gap: 17px;
  align-items: center;
}

.navigation__account-button::after {
  content: url(../../images/accountLogo.svg);
  border-radius: 4px;
  background: #f9f9f9;
  padding: 8px 7.25px;
}

.navigation__burger-menu {
  display: none;
  background: url(../../images/burgerMenuLogo.svg);
}

@media (max-width: 900px) {
  .navigation {
    justify-content: end;
  }
  .navigation__burger-menu {
    min-width: 30px;
    padding: 0;
    min-height: 44px;
    border: none;
    display: block;
    background-color: transparent;
  }

  .navigation__account-button {
    display: none;
  }

  .navigation__pannel {
    display: none;
  }
}
