.cards {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 88px auto 0 auto;
  gap: 30px 24px;
}

.cards__section {
  margin: 0 auto;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__button {
  width: 1140px;
  height: 36px;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 80px;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 30px 0 30px;
    gap: 36px 30px;
  }

  .cards__button {
    width: 708px;
    height: 36px;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
		margin: 168px 10px 0 10px;
		gap: 16px;
  }


  .cards__button {
    width: 300px;
    height: 36px;
  }

}
