.search {
  color: #fff;
  margin-bottom: 10px;
  margin: 64px auto 0;
  min-height: 114px;
  width: 100%;
}

.search__form {
  justify-content: space-between;
  min-height: 72px;
  margin: 0 auto;
}

.search__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}

.search__icon {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  margin-left: 6px;
}

.search__icon::after {
  content: url("../../images/searchIcon.svg");
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input:focus-visible {
  outline: 2px solid #007BFF;
}

.search__input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px #007BFF;
}

.search__input {
  outline: none;
  border: none;
  background-color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: black;
  margin: 0 auto;
  width: 80%;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  border: none;
  background: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0;
}

.search__button::after {
  content: url("../../images/find.svg");
}

.search__button:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .search {
    padding: 0;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 119px;
    height: 0;
  }
}

@media (max-width: 500px) {
  .search {
    padding: 0 0 114px;
    margin: 0 auto;
    min-height: 98px;
  }

  .search__form {
    min-height: auto;
    margin: 0 auto;
  }

  .search__container {
    align-items: flex-end;
    min-width: auto;
    justify-content: space-between;
		padding-bottom: 12px;
  }

  .search__icon {
    display: none;
  }

  .search__input {
    font-size: 18px;
    text-align: start;
    padding: 0;
    margin: 0;
  }

  .search__button {
    padding-top: 80px;
    position: relative;
    top: 9px;
  }
}