.techs {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  justify-content: center;
}

.techs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 100px 70px;
}

.techs__title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  width: 1140px;
  margin: 0;
}

.techs__subtitle {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__info {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  width: 460px;
  margin: 0;
}

.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  margin: 100px 0 0;
  gap: 10px;
  min-width: 90px;
  padding: 0;
}

.techs__item {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techs__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .techs {
    max-width: 768px;
  }

  .techs__container {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__title {
    width: 668px;
    letter-spacing: -0.72px;
  }

  .techs__list {
    margin: 83px 0 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    margin: 83px auto 0;
  }

  .techs__item {
    width: 84px;
    height: 57px;
  }
}

@media (max-width: 500px) {
  .techs {
    max-width: 320px;
    background: #fff;
  }
  .techs__container {
    padding: 70px 18px;
  }

  .techs__title {
    font-size: 18px;
    width: 284px;
  }

  .techs__subtitle {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .techs__info {
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.44px;
    width: 292px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  .techs__item {
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    letter-spacing: -0.48px;
  }
}
