.header {
  width: 100%;
  background-color: #465dff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__none {
	display: none;
}

.header__type_movies {
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto;
  gap: 20px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: cover;
  width: 38px;
  min-height: 38px;
  margin-top: 18px;
  margin-left: 70px;
  margin-bottom: 18px;
  margin-right: 45px;
  transition: 0.4s;
  opacity: 1;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__navigation {
  display: flex;
  width: 100%;
  padding: 22px 70px 22px 0;
  justify-content: flex-end;
}

.header__links {
  display: flex;
  align-items: center;
  padding: 0 70px 0 0;
  align-self: center;
}

.header__links-item_register {
  color: #fff;
  text-align: right;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.4s;
  opacity: 1;
}

.header__links-item_register:hover {
  opacity: 0.6;
}

.header__content {
  display: contents;
}

.header_type_movies {
  background-color: #ffffff;
}

.header__links-item_login {
  border-radius: 3px;
  border: none;
  background: #2be080;
  width: 76px;
  min-height: 32px;
  flex-shrink: 0;
  text-decoration: none;
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}

.header__links-item_login:hover {
  opacity: 0.6;
}

.header__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header__link-text {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .header__links {
    padding: 0 30px 0 0;
  }

  .header__logo {
    margin-left: 30px;
    margin-top: 7px;
  }

  .header__navigation {
    padding: 0px 30px;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    padding: 15px 30px 29px 0;
  }
	/* .header__logo {
		margin-top: 18px;
	} */
}

@media (max-width: 500px) {
  .header__logo {
    margin-top: 18px;
    margin-left: 14px;
  }

  .header__links-item_login {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    width: 54px;
		min-height: 26px;
  }

	.header__links-item_register {
		font-size: 10px;
		margin-right: 14px;
	}

  .header__navigation {
    padding: 13px 23px 15px 0;
  }

  .header__links {
    padding: 24px 14px 28px 0;
  }

  .header__register {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__login {
    width: 54px;
    min-height: 26px;
    font-size: 10px;
  }

  .header__login-button {
    width: 54px;
    min-height: 26px;
  }
}
