.about-project {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 110px 70px;
}

.about-project__title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  max-width: 1140px;
  margin: 0;
  letter-spacing: -0.88px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.about-project__info {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.about-project__info_text {
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 26px;
}

.about-project__description {
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 110px;
  max-width: 550px;
}

.about-project__bar {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.about-project__back {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #2be080;
  width: 228px;
  margin: 0;
  padding: 10px 0 9px 0;
  text-align: center;
}

.about-project__front {
  background: #f2f2f2;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin: 0;
  padding: 9px 0;
}

.about-project__back_caption {
  color: #a0a0a0;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
  margin-top: 14px;
}

.about-project__front_caption {
  color: #a0a0a0;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
  margin-top: 14px;
}

@media screen and (max-width: 900px) {
  .about-project__container {
    padding: 90px 50px;
  }

  .about-project__title {
    max-width: 668px;
  }

  .about-project__description {
    max-width: 319px;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 93px;
  }

  .about-project__info_text {
		margin-bottom: 21px;
    max-width: 319px;
  }

  .about-project__bar {
    grid-template-columns: 140px 1fr;
  }

  .about-project__back {
    width: 140px;
  }
  .about-project__front {
    max-width: 528px;
  }
}

@media (max-width: 500px) {
  .about-project__info_text {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    line-height: normal;
    margin-top: 60px;
    margin-bottom: 16px;
    max-width: 319px;
    letter-spacing: -0.72px;
  }

  .about-project__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 56px;
    max-width: 319px;
  }

  .about-project__info_text_removed {
    margin: 0;
    margin-bottom: 16px;
  }

  .about-project__description_removed {
    margin-bottom: 60px;
  }

  .about-project__container {
    padding: 70px 18px;
  }

  .about-project__title {
    max-width: none;
    letter-spacing: -0.72px;
    font-size: 18px;
    padding-bottom: 28px;
  }

  .about-project__info {
    flex-direction: column;
  }

  .about-project__bar {
    grid-template-columns: 100px 1fr;
  }

  .about-project__back {
    width: 100px;
    font-size: 11px;
  }

  .about-project__back_caption {
    font-size: 11px;
    margin-top: 10px;
  }

  .about-project__front_caption {
    font-size: 11px;
    margin-top: 10px;
  }

  .about-project__front {
    width: 184px;
    font-size: 11px;
  }
}
