.footer {
  background-color: #fafafa;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-shrink: 0;
  flex: 0 0 auto;
  bottom: 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 76px 70px 20px;
}

.footer__title {
  color: #a0a0a0;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.footer__date {
  color: #000;
	display: flex;
	align-items: end;
  font-feature-settings: "clig" off, "liga" off;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__links {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: #000;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.4s;
  opacity: 1;
}

.footer__link:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .footer {
    margin-top: 84px;
    background: #fff;
  }
  .footer__container {
    padding: 0px 30px 20px;
  }
}

@media (max-width: 500px) {
  .footer__title {
    font-size: 12px;
  }

  .footer__container {
    padding: 0;
  }

  .footer__items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
		margin-top: 27px;
  }

  .footer__links {
    flex-direction: column;
    gap: 6px;
  }

  .footer__link {
    font-size: 12px;
    text-align: center;
  }

  .footer__link_container {
    text-align: center;
  }

  .footer__date {
    color: #a0a0a0;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
  }

  .footer__title {
    padding-bottom: 21px;
  }
}
