.promo {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #465dff;
}

.promo__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding: 0 70px 75px;
}

.promo__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promo__title {
  max-width: 640px;
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  margin: 0;
  margin-bottom: 36px;
}

.promo__box {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}

.promo__text {
  max-width: 310px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  margin: 0;
}

.promo__image {
  max-width: 310px;
  height: 304px;
}

.promo__button {
  cursor: pointer;
  width: 129px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.6;
  color: #ffffff;
  transition: 0.4s;
  opacity: 1;
  margin-top: 146px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.promo__button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.promo__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .promo {
    max-width: 768px;
  }
  .promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
  }

  .promo__title {
    padding-top: 48px;
    max-height: 230px;
    padding-bottom: 22px;
    margin: 0;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }

  .promo__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__text {
    color: #fff;
    text-align: center;
    font-size: 13px;
  }

  .promo__description {
    align-items: center;
  }
  .promo__button {
    margin-top: 92px;
    margin-bottom: 76px;
  }
  .promo__image {
    width: 310px;
    height: 304px;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    max-width: 320px;
  }
  .promo__image {
    width: 210.001px;
    height: 206px;
  }
  .promo__text {
    opacity: 0.5;
    width: 260px;
  }

  .promo__box {
    padding: 0;
  }

  .promo__container {
    padding: 70px 10px 30px;
    width: 500px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px; 
    letter-spacing: -1.2px;
  }

  .promo__button {
    margin-top: 80px;
    margin-bottom: 0;
  }
}
