@import url('./vendor/fonts/fonts.css');

:root {
  min-height: 100vh;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  min-height: 100vh;

	scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
