.about-me {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 110px 70px 100px;
}

.about-me__title {
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  max-width: 1140px;
  margin: 0;
}

.about-me__info {
  display: flex;
  max-width: 600px;
  flex-direction: column;
}

.about-me__items {
  display: flex;
  justify-content: space-between;
  /* margin: 66px 0 0; */
}

.about-me__subtitle {
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin-top: 66px;
  margin-bottom: 18px;
}

.about-me__description {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  margin: 0;
  margin-bottom: 26px;
}

.about-me__text {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 600px;
}

.about-me__image {
  width: 270px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin-top: 66px;
}

.about-me__links {
  list-style: none;
  color: #000;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-top: 99px;
  transition: 0.4s;
  opacity: 1;
}

.about-me__links:hover {
  opacity: 0.6;
}

.about-me__link {
  text-decoration: none;
  color: #000;
}

@media (max-width: 900px) {
  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__container {
    padding: 90px 50px;
    padding-bottom: 91px;
  }

  .about-me__title {
    max-width: 668px;
  }

  .about-me__subtitle {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__description {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 18px;
  }

  .about-me__links {
    margin-top: 43px;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
    margin: 66px auto 0;
  }

  .about-me__items {
    gap: 65px;
  }
}

@media (max-width: 620px) {
  .about-me__items {
    flex-direction: column-reverse;
    gap: 0;
  }
}

@media (max-width: 500px) {
  .about-me__container {
    padding: 70px 14px;
  }

  .about-me__title {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-me__subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: normal;
    font-size: 30px;
  }

  .about-me__description {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__image {
    width: 292px;
    min-height: 352px;
    margin: 60px auto 0;
  }

  .about-me__items {
    flex-direction: column-reverse;
    gap: 0;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__links {
    margin-top: 56px;
  }
}
